.type-567 {
  margin-bottom: 100px;
}
.type-567 .chama {
  border: 2px solid #c0b9b9;
  padding: 10px;
  margin: 10px;
  padding: 20px;
}
.type-567 .header {
  text-align: center;
}
.type-567 .asss {
  border: 1px solid #c0b9b9;
  text-align: center;
  padding: 20px;
  font-weight: 1000;
  transition: transform .2s;
  margin: 0 auto;
}
.type-567 .asss:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 10px 1px;
}
.type-567 .theb {
  text-align: center;
  padding-top: 10px;
}
.type-567 .rate {
  float: left;
}
.type-567 .rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.type-567 .rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  color: #ccc;
}
.type-567 .rate:not(:checked) > label:before {
  content: '★ ';
}
.type-567 .rate > input:checked ~ label {
  color: #ffc700;
}
.type-567 .rate:not(:checked) > label:hover,
.type-567 .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.type-567 .rate > input:checked + label:hover,
.type-567 .rate > input:checked + label:hover ~ label,
.type-567 .rate > input:checked ~ label:hover,
.type-567 .rate > input:checked ~ label:hover ~ label,
.type-567 .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.type-567 .reply:hover {
  color: #c0b9b9;
}
.type-567 .khunghinh {
  border: 2px solid #c0b9b9;
  height: 152px;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.type-567 .vcl {
  position: absolute;
}
.type-567 .thisis {
  border-top: 1.5px solid #c0b9b9;
  position: absolute;
  top: 100px;
  left: 10px;
  width: 98%;
  padding-top: 10px;
}
.type-567 .comment {
  padding-left: 10px;
}
.type-567 .comment1 {
  padding-left: 10px;
}
.type-567 .osad {
  margin-bottom: 100px;
}
.type-567 .newbie {
  text-decoration: none;
  border-color: 1px solid royalblue;
}
