.type-407 .container h2 {
  font-family: UTM Isadora;
  padding: 0px;
  color: grey;
  font-style: italic;
}
.type-407 .temperatur {
  color: #CA212A;
  font-weight: bold;
  padding: 3px 3px 0 0;
  display: inline-block;
  white-space: nowrap;
}
.type-407 a {
  color: black;
}
.type-407 .simple_price_count {
  font-weight: normal;
  color: green;
  margin-left: 8px;
}
.type-407 .simple_price_count del {
  color: #ccc;
  font-size: 80%;
}
.type-407 h3 {
  font-size: 18px;
}
.type-407 .nav-tabs {
  border-bottom: none;
}
.type-407 .nav-tabs li a {
  color: black;
  font-weight: bold;
  padding-left: 150px;
  padding-right: 150px;
  border-right: 1px solid #ccc;
  background-color: #f4f4f4;
  margin-right: 0px;
}
.type-407 .nav-tabs li a:hover {
  background-color: black;
  color: #fff;
}
