.type-572 {
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
}
.type-572 .navbar-inverse {
  background-color: #2961ae;
  border-color: #2961ae;
  margin-top: 2px;
  margin-left: 3px;
  margin-right: 3px;
}
.type-572 .fa-search:before {
  content: "\f002";
  color: cadetblue;
}
.type-572 .search-form {
  float: right;
  border: none;
}
.type-572 .search-form form {
  display: inline-block;
  margin: 0;
}
.type-572 .search-form .input-d {
  display: inline;
}
.type-572 .search-form input {
  background: white;
  outline: 0;
  color: black;
  height: 40px;
  border: 1px solid transparent;
  padding: 0;
  border-radius: 2px;
  margin-top: 4px;
}
.type-572 .search-form .s-btn {
  background: none;
  border: none;
  border-radius: 2px;
  font-size: 14px;
}
.type-572 .search-form .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  color: #2961ae;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.type-572 .caret-up {
  width: 0;
  height: 0;
  border-left: 4px solid #2961ae;
  border-right: 4px solid #2961ae;
  border-bottom: 4px solid;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}
.type-572 .navbar-default {
  background: none repeat scroll 0 0 #2961ae !important;
}
.type-572 .navbar-default .navbar-nav li {
  border-right: 1px solid #4979BA;
}
.type-572 .navbar-default .navbar-nav li .dropdown-menu {
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #fa9e19;
}
.type-572 .navbar-default .navbar-nav li .dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid #DDD;
}
.type-572 .navbar-default .navbar-nav li .dropdown-menu li a {
  text-transform: none;
  font-size: 15px;
  line-height: 16px;
  color: #2961ae !important;
  font-weight: 400;
}
.type-572 .navbar-default .navbar-nav li a {
  color: white;
  font-weight: bold;
  font: 700 15px/19px 'Roboto', trebuchet ms;
  text-transform: uppercase;
}
.type-572 .navbar-default .navbar-right {
  margin-right: 70px;
}
.type-572 .navbar-default .navbar-nav > li > a:hover {
  border-top: 4px solid #fa9e19;
  box-sizing: border-box;
  color: #865db4;
  background-color: transparent;
  color: white;
  padding-top: 11px;
}
.type-572 .navbar-default .navbar-nav > .open > a:hover {
  border-top: 4px solid #fa9e19;
  box-sizing: border-box;
  color: #865db4;
  background-color: transparent;
  color: white;
  padding-top: 11px;
}
.type-572 .navbar-default .navbar-nav > .open > a,
.type-572 .navbar-default .navbar-nav > .open > a:focus,
.type-572 .navbar-default .navbar-nav > .open > a:hover {
  color: white;
  background-color: #2961ae;
}
.type-572 .dropdown-menu > li:hover {
  background: #DDD;
}
.type-572 .dropdown-menu > li>a:hover {
  background: #DDD;
}
@media (max-width: 1037px) {
  .type-572 .navbar-default .navbar-nav li a {
    font-size: 13px;
  }
}
@media (max-width: 953px) {
  .type-572 .nav li a {
    padding: 10px 4px;
  }
  .type-572 .searchscroll input {
    max-width: 0px;
  }
  .type-572 .searchscroll:hover input {
    max-width: 100px;
  }
}
@media (max-width: 340px) {
  .type-572 input {
    width: 100%;
    height: 32px !important;
  }
  .type-572 .s-btn {
    font-size: 10px !important;
    padding: 8px !important;
  }
}
@media (max-width: 324px) {
  .type-572 input {
    width: 100%;
    height: 27px !important;
  }
  .type-572 .s-btn {
    font-size: 7px !important;
    padding: 8px !important;
  }
}
@media (max-width: 320px) {
  .type-572 .search-form:hover input {
    max-width: 100px !important;
  }
}
@media (max-width: 268px) {
  .type-572 .search-form:hover input {
    max-width: 60px !important;
  }
}
@media (max-width: 1146px) and (min-width: 953px) {
  .type-572 .searchscroll input {
    max-width: 0px;
  }
  .type-572 .searchscroll:hover input {
    max-width: 70px;
  }
}
@media (max-width: 767px) {
  .type-572 .searchscroll {
    float: left;
  }
  .type-572 .searchscroll input {
    max-width: 150px;
  }
}
.type-572 .collapse navbar-collapse {
  overflow: hidden;
}
.type-572 body {
  font-family: 'Open Sans', 'sans-serif';
}
.type-572 .mega-dropdown {
  position: static !important;
}
.type-572 .mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-decoration: none;
}
.type-572 .mega-dropdown-menu > ul > li {
  padding: 0;
  margin: 0;
}
.type-572 .mega-dropdown-menu > ul > li > a {
  list-style: none;
}
.type-572 .mega-dropdown-menu > ul > li > a {
  display: block;
  color: #2961ae;
  padding: 3px 5px;
}
.type-572 .mega-dropdown-menu > ul> li > a:hover,
.type-572 .mega-dropdown-menu > ul li > a:focus {
  text-decoration: none;
}
.type-572 .mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
.type-572 .carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;
}
.type-572 .left.carousel-control {
  right: 30px;
  left: inherit;
}
.type-572 .carousel-control .glyphicon-chevron-left,
.type-572 .carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
